@import url('https://fonts.googleapis.com/css?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap');

* {
    box-sizing: border-box;
}

.container {
    position: relative;
    padding: 2rem 0;
    text-align: center;
}

.container .wrap {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 79px;
    left: calc(50% - 360px);
    width: 720px;
    height: 300px;
    font-size: 4rem;
    font-family: 'Barriecito', cursive;
    background-color: transparent;
}

.container .hideWrap {
    display: none;
}

.container .wrap .wrap__inscription {
    animation: textMove 2s linear infinite;
}

.container .setting {
    display: flex;
    justify-content: space-between;
    margin: 0 auto .5em;
    width: 720px;
    font-size: 2em;
    font-family: 'Indie Flower', cursive;
    text-align: left;
}

.container .setting #complexity__select {
    -webkit-appearance: none;
    appearance: none;
    padding: .2em 1em .2em .5em;
    border: 2px solid #000;
    border-radius: 20px / 40px;
    outline: none;
    font-size: .75em;
    font-family: 'Luckiest Guy', cursive;
    cursor: pointer;
    background-color: yellowgreen;
    color: #fff;
}

.container canvas {
    width: 720px;
    height: 300px;
    border: 4px solid #ccc;
    box-shadow: inset 2px 2px 5px #000, 10px 10px 20px #000;
}

@keyframes textMove {
    50% {
        transform: translateY(-30px);
    }
    to {
        transform: translateY(0)
    }
}